body{
    background: aliceblue;  
         
   
}
h1{
    color: aqua;
    font-family: Verdana;
    font-size: 300%;

}

p{
    background-color: chartreuse;
    color: blueviolet;
    font-family: 'Courier New';
    font-size: 160%;
    border: 2px;
    padding: 30px;
}