h1
{
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;
}

h2{
    text-align: left;
    text-decoration: line-through;

}

h3{
    text-align: right;
    vertical-align: bottom;
    text-decoration: underline;
    text-transform: capitalize;
}

div{
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: justify;
    text-transform: lowercase;
    
}