<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Elementos e técnicas de layout HTML</title>
</head>
<body>
    <!--

<header> - Define um cabeçalho para um documento ou seção
<nav> - Define um conjunto de links de navegação
<section> - Define uma seção em um documento
<article> - Define um conteúdo independente e autocontido
<aside> - Define o conteúdo além do conteúdo (como uma barra lateral)
<footer> - Define um rodapé para um documento ou seção
<details> - Define detalhes adicionais que o usuário pode abrir e fechar sob demanda
<summary>- Define um título para o <details>elemento
    -->
    <h2>Layout em css</h2>
    <p>Neste exemplo, criamos um cabeçalho, duas colunas / caixas e um rodapé. Em telas menores, as colunas serão empilhadas umas sobre as outras.</p>
    <p>Redimensione a janela do navegador para ver o efeito responsivo (você aprenderá mais sobre isso em nosso próximo capítulo - HTML Responsivo).</p>
<header>
    <h2>Ciades</h2>
</header>

<section>

    <nav>
      <ul>
          <li><a href="#">Luanda</a> </li>
          <li><a href="#">Cabinda</a> </li>
          <li><a href="#">Nabime</a> </li>
      </ul>
    </nav>

    <article>
        <h1>Luanda</h1>
        <p>É a cidade mais populosa do Angola, com uma área metropolitana .</p>
        <p>É a cidade mais populosa do Angola, com uma área metropolitana .</p>
    </article>
</section>

<footer>
    <p>footer</p>
</footer>

</body>
</html>