.p1{
font-family: sans-serif;
font-style: oblique;
font-weight: lighter;
font-variant: small-caps;
font-size: 1em;

}

.p2{
    font-style: normal;
    font-weight: 900;
    font-family: 'Lucida Sans';
    font-size: 5vw;
}
.p3{
    font-family: monospace;
    font-style: italic;
    font-weight: bolder;
    font-size: 100%;
}
.p4{
    font: 20px Arial, sans-serif;
}
.p5{
    font-family: "Sofia", sans-serif;
    font-size: 20px;
    text-shadow: 3px 3px 3px #ababab;
}